<p><%= link_to 'Member record', @member_update.member %></p>
  
<% uni_form_for(@member_update) do |f| %>
  <%= error_messages_for(:member) %>

  <%= render :partial => "form", :locals => {:f => f} %>

  <p><%= f.submit "Make the changes to this member's record" %></p>
<% end %>

<p><%= link_to 'Back', member_updates_path %> | <%= link_to link_to 'Destroy', @member_update, :confirm => 'Are you sure?', :method => :delete %></p>