<%- if @member_updates.length == 0 -%>
<p>There are no updates to be processed at this time.</p>
<%- else -%>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date submitted</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  
  <tbody>
  <%- for member_update in @member_updates -%>
    <tr class="<%= cycle('odd','even') %>">
      <td><%=h member_update.member.full_name(true) %></td>
      <td><%=h member_update.created_at.to_s(:short) %></td>
      <td><%= link_to 'Review', edit_member_update_path(member_update) %></td>
      <td><%= link_to 'Destroy', member_update, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <%- end -%>
  </tbody>
</table>
<%- end -%>