<%= text_editor -%>

<%- content_for :head do -%>
  <script type="text/javascript">
    $(document).ready( function() {
      $('.members.member_search input').change(function() {
        $('.members.member_search legend').text('Individual members (Loading...)');
          $.get('<%= url_for(:controller => :emails, :action => :calculate_member_counts) %>', $('.members.member_search input').serialize(), function(data, textStatus) {
          $('.members.member_search legend').text('Individual members (' + data + ')');
        });
      });

      $('.schools.member_search input').change(function() {
        $('.schools.member_search legend').text('Member schools (Loading...)');
        $.get('<%= url_for(:controller => :emails, :action => :calculate_school_counts) %>', $('.schools.member_search input').serialize(), function(data, textStatus) {
          $('.schools.member_search legend').text('Member schools (' + data + ')');
        });
      });
    })
  </script>
<%- end -%>

<%- uni_form_for :email, @email, :url => {:action => :send_email} do |f| -%>
  <%= f.error_messages %>
  
  <%- f.fieldset "Individual members (#{@member_count})", :class => 'members member_search' do -%>
    <ul>
      <%- for scope in Member.exclusive_scopes -%>
        <li><%= radio_button_tag "member_scopes[]", scope, @current_member_scopes.include?(scope) %> <%= scope.to_s.humanize.capitalize %></li>
      <%- end -%>
    </ul>
    <ul>
      <%- for scope in Member.public_scopes - Member.exclusive_scopes -%>
        <li><%= check_box_tag "member_scopes[]", scope, @current_member_scopes.include?(scope) %> <%= scope.to_s.humanize.capitalize %></li>
      <%- end -%>
    </ul>
    <div class="ctrlHolder odd">
      <label for="member_search">Filter</label>
      <%= text_field_tag :member_search, @member_search_params, :size => 20, :maxlength => 20 %>
      <p class="formHint">This filters the search results based on names and cities</p>
    </div>
  <%- end -%>

  <%- f.fieldset "Member Schools (#{@school_count})", :class => 'schools member_search' do -%>
    <ul>
      <%- for scope in School.exclusive_scopes -%>
        <li><%= radio_button_tag "school_scopes[]", scope, @current_school_scopes.include?(scope) %> <%= scope.to_s.humanize.capitalize %></li>
      <%- end -%>
    </ul>
    <ul>
      <%- for scope in School.public_scopes - School.exclusive_scopes -%>
        <li><%= check_box_tag "school_scopes[]", scope, @current_school_scopes.include?(scope) %> <%= scope.to_s.humanize.capitalize %></li>
      <%- end -%>
    </ul>
    <div class="ctrlHolder odd">
      <label for="school_search">Filter</label>
      <%= text_field_tag :school_search, @school_search_params, :size => 20, :maxlength => 20 %>
      <p class="formHint">This filters the search results based on school names and cities</p>
    </div>
  <%- end -%>

  <%- f.fieldset 'Message' do -%>
    <%= f.hidden_field :from %>
    <%= f.text_field :subject, :max_length => 60 %>
    <%= f.text_area :body, :hint => "You may use <code>%first_name</code> and <code>%last_name</code> as variables" %>
  <%- end -%>
  <p><%= f.submit 'Send it!' %></p>
<%- end -%>