<div id="member_navigation"<%= 'class="logged_in"' if logged_in? %>>
<%- if logged_in? -%>
  <h3>Members only</h3>
  <p>Logged in as <%= @current_user.member.nil? ? link_to(@current_user.email, edit_password_user_path(@current_user)) : link_to_unless_current(@current_user.member.full_name, new_member_update_path) %> (<%= link_to "log out", logout_path, { :title => "log out" } %>)</p>
  <ul>
    <li><%= navigation_link 'Membership directory', members_path, :title => 'Search the member directory' %></li>
    <li><%= navigation_link 'Post a classified ad', new_classified_path, :title => 'Create a new classified ad' %></li>
    <li><%= navigation_link 'Edit a current classified ad', @current_user.has_role?(:secretary) ? classifieds_path : member_classifieds_path(@current_user.member), :title => 'Edit a current classified ad' %></li>
  </ul>
  <%- if @current_user.has_role?(:secretary) -%>
  <h3>Site management</h3>
  <ul>
    <%= content_tag(:li, navigation_link('Administer pages', pages_path, :title => 'Use the CMS to manage static content')) if @current_user.can_create_page? || @current_user.can_update_page? %>
    <%= content_tag(:li, navigation_link('Administer events', events_path, :title => 'Edit upcoming events')) if @current_user.can_create_event? || @current_user.can_update_event? %>
    <%= content_tag(:li, navigation_link('Administer news', news_items_path, :title => 'Edit upcoming news items')) if @current_user.can_create_news_item? || @current_user.can_update_item? %>
  </ul>
  
  <h3>Member management</h3>
  <ul>
    <li><%= navigation_link('Membership list', members_path, :title => 'Browse/search the membership directory') %></li>
    <li><%= navigation_link('Review info updates', member_updates_path, :title => 'Review member-submitted updates') %></li>
    <%= content_tag(:li, navigation_link('New member', new_member_path, :title => 'Add a new member')) if @current_user.can_create_member? || @current_user.can_update_member? %>
    <%= content_tag(:li, navigation_link('New member school', new_school_path, :title => 'Add a new school')) if @current_user.can_create_school? || @current_user.can_update_school? %>
  </ul>
  <%- end -%>
<%- else -%>
  <h3>Member login</h3>
  <%= render :partial => "sessions/login_form"%>
<%- end -%>
</div> <!-- /member_navigation -->