<div id="navigation">
  <h3>The association</h3>
  <ul>
    <li><%= navigation_link 'Home', root_path, :title => 'Return to OMA home page' %></li>
    <li><%= navigation_link 'About OMA', static_page_path('about_us'), :title => 'More information about OMA' %></li>
    <li><%= navigation_link 'OMA board', static_page_path('board'), :title => 'Brief bios of the board members, and their areas of responsibility' %></li>
    <li><%= navigation_link 'News', news_items_path, :title => 'News from OMA' %></li>
    <li><%= navigation_link 'Contact us', contact_path, :title => 'Contact OMA using our contact form' %>
  </ul>

  <h3>Our members</h3>
  <ul>
    <li><%= navigation_link 'Member schools', schools_path, :title => 'Explore our list and map of member schools' %></li>
    <li><%= navigation_link 'Become a member', static_page_path('join'), :title => 'Join OMA and help us further the cause of Montessori in the Northwest' %></li>
  </ul>

  <h3>Resources</h3>
  <ul>
    <li><%= navigation_link 'Upcoming events', events_path, :title => 'Upcoming events of concern to the Montessori community' %></li>
    <li><%= navigation_link 'Classifieds', classifieds_path, :title => 'Classified ads for the Montessori community' %></li>
    <li><%= navigation_link 'Montessori FAQ', static_page_path('faq'), :title => 'Frequently asked questions about Montessori' %></li>
    <li><%= navigation_link 'Links', static_page_path('links'), :title => 'Links of interest' %></li>
    <li><%= navigation_link 'OMA media library', static_page_path('media_library'), :title => 'OMA\'s media lending library' %></li>
  </ul>
</div> <!-- /navigation -->
