<h2 class="comments"><%= @post.comments.length > 0 ? 'Join' : 'Start' %> the conversation</h2>

<%= error_messages_for :comment %>

<% uni_form_for :comment, @comment, :url => post_comments_path(@post), :html => {:method => :post} do |f| %>
  <% f.fieldset 'New comment' do %>
    <%= f.text_field :author, :size => 25, :required => true %>
    <%= f.text_field :email, :hint => 'Will never be disclosed or used inappropriately', :size => 25, :required => true %>
    <%= f.text_field :homepage, :label => 'Home page', :size => 25 %>
    <%= f.text_area :body, :label => 'Comment', :required => true %>
    <%= f.hidden_field :post_id %>
    <%= f.submit "Say it!" %>
  <%- end -%>
<% end %>
