<h2 class="comments"><%= @post.comments.length > 0 ? 'Join' : 'Start' %> the conversation</h2>

<% uni_form_for :comment, @comment, :url => post_comments_path(@post), :html => {:method => :post} do |f| %>
  <%= f.error_messages %>
  <% f.fieldset 'New comment' do %>
    <%= f.text_field :author, :label => 'Name', :size => 25, :required => true %>
    <%= f.text_field :email, :hint => 'Will never be disclosed or used inappropriately', :size => 25, :required => true %>
    <%= f.text_field :homepage, :label => 'Home page', :size => 25 %>
    <%= f.text_field :captcha, :label => 'Are you human?', :size => 3, :maxlength => 3, :hint => "Enter the word <strong>#{Captcha::CORRECT_ANSWER}</strong> to confirm that you are a human being"%>
    <%= f.text_area :body, :label => 'Comment', :required => true %>
    <%= f.hidden_field :post_id %>
    <%= f.submit "Say it!" %>
  <%- end -%>
<% end %>
