<% uni_form_for(@client) do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => "form", :locals => {:f => f} %>

  <p><%= f.submit "Update" %></p>
<% end %>

<p><%= link_to 'Show', @client %> |
<%= link_to 'Back', clients_path %></p>