<ul class="portfolio">
<%- for client in @clients -%>
  <li>
    <%= link_to(image_tag(client.thumb_path, :width => 152, :height => 152, :alt => h(client.name), :title => h(client.name)), client, :title => h(client.name), :class => 'photo') %>
    <h3><%=h client.name %></h3>
    <p><%=h client.teaser %></p>
    <p><%= link_to "Read more", client, :alt => "Narrative about the design process and results for #{h(client.name)}"%><%= " or " + link_to('go straight to the live site', h(client.url), :title => "Visit #{h(client.name)} on the web") if client.url? %></p>
  </li>
<%- end -%>
</ul>

<%- content_for :secondary_content do -%>
  <h3>A note about markup</h3>
  
  <p>All of the sites listed here, at delivery, were valid XHTML 1.1 and CSS 2.1. Validation isn't an end unto itself, but rather a mean of guaranteeing code quality: it saves you from having unclosed tags, or otherwise difficult to parse markup which can cause browsers to fail.</p>
  
  <p>Since most of these sites are maintained by their owners, however, we can no longer guarantee the quality of the code.</p>
<%- end -%>