<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= h(@meta_title) || "#{controller.action_name.capitalize} #{controller.controller_name}" %> | Oregon Montessori Association</title>
  <%= tag(:meta, 'http-equiv' => 'description', :content => h(strip_tags(@meta_description))) if @meta_description %>

  <%= stylesheet_link_tag 'scaffold' %>

  <%= javascript_include_tag 'jquery' %>
  
  <%= yield :head %>
</head>

<body id="index">

<div id="wrapper">
  <div id="branding">
    <%= image_tag 'logo.jpg', :id => 'logo', :width => 240, :height => 130 %>
  </div> <!-- /branding -->
  

  <div id="primary_content">
    <%= show_flash %>

    <%= content_tag(:h1, @meta_title) if @meta_title -%>

    <%= render :partial => "shared/navigation" %>

    <%= yield  %>
  </div> <!-- /primary_content -->
  
  <div id="secondary_content">
<%- if logged_in? -%>
      <%= render :partial => "shared/member_navigation" %>
<%- else -%>
    <div id="membership">
      <h2>Membership</h2>
      <%= render :partial => "shared/member_navigation" %>

      <%= yield :membership %>
    </div>
<%- end -%>

    <%= image_tag 'index.jpg', :width => 440, :height => 294, :alt => 'Join OMA in furthering the Montessori community in the Pacific Northwest' %>
  </div> <!-- /secondary-content -->
  
  <%= render :partial => "shared/footer" %>
</div> <!-- /wrapper -->

</body>
</html>
