<%- f.fieldset 'Name' do -%>
  <%= f.text_field :first_name, :required => true %>
  <%= f.text_field :last_name, :required => true %>
<%- end -%>

<%= render :partial => "shared/address_form", :locals => {:f => f} %>

<%- f.fieldset 'Participation' do -%>
  <%- f.multiple_field_group :label => 'I want to be a', :first => true do -%>
    <%= f.check_box :volunteer, :label => 'Volunteer' %>
    <%= f.check_box :speaker, :label => 'Speaker' %>
    <p class="formHint">Would you donate time to help OMA or be a part of the OMA speakers' bureau?</p>
  <%- end -%>
<%- end -%>

<%- if logged_in? && @current_user.has_role?(:secretary) -%>
  <%- f.fieldset 'Associated school' do -%>
    <%= f.select :school_id, @schools.collect{|s| [s.name, s.id]}, :label => 'School', :include_blank => 'Please choose...', :hint => 'Please use this only for members who are paid for by their school\'s membership' %>
  <%- end -%>
  
  <%= render :partial => "shared/membership_form", :locals => {:f => f} %>
  
  <%- f.fieldset 'User account' do -%>
    <p><%= link_to('Reset password', reset_password_user_path(@member.user_id), :method => :post, :title => 'Reset the member\'s user account password and send them a new activation email', :confirm => 'Are you sure? This will cancel the user\'s current password and send them a new temporary one.') %></p>
    <%= select_tag(:role, options_for_select(User::ROLES[0..User::ROLES.index(@current_user.role)].collect{|r| [r.to_s.capitalize, r.to_s]}, @member.user.role.to_s)) if @member.user && @user::ROLES.index(@current_user.role) >= User::ROLES.index(@member.user.role) %>
  <%- end -%>
  
  <%= render :partial => "shared/notes_form", :locals => {:f => f} %>
<%- end -%>