<ul class="portfolio">
<%- for client in @clients -%>
  <li>
    <%= link_to(image_tag(client.thumb_path, :width => 152, :height => 152, :alt => h(client.name), :title => h(client.name)), client, :title => h(client.name), :class => 'photo') %>
    <h3><%=h client.name %></h3>
    <p><%=h client.teaser %></p>
    <p><%= link_to "Read more", client, :alt => "Narrative about the design process and results for #{h(client.name)}"%><%= " or " + link_to('go straight to the live site', h(client.url), :title => "Visit #{h(client.name)} on the web") if client.url? %></p>
  </li>
<%- end -%>
</ul>