<%- content_for :head do -%>
  <script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=<%= GeoKit::Geocoders::google %>"></script>
  <%= javascript_include_tag 'jquery.jmap' %>
  <script type="text/javascript">
    // Add a school to the map, and make a link in the index table that will scroll to the marker
    jQuery.fn.addMapLink = function(html, latitude, longitude) {
      return this.each(function() {
        $('#map').jmap('addMarker', {pointLatLng:[latitude, longitude], pointHTML: html})
        $(this).wrapInner('<a href="javascript:void(0);"></a>').click(function() {
          $('#map').jmap('moveTo', {mapCenter: [latitude, longitude], centerMethod: 'pan'});
        });
      });
    }
    
    $(document).ready(function() {
      <%- if schools.length > 1 -%>
        // Embed the map
        $('#map').empty().height('500px').css('margin-bottom','1.5em').jmap('init', { mapCenter: [44.260937,-120.443115], mapZoom: 6, mapControlSize: 'large', mapShowjMapIcon: false});
        
        // Put a marker on the map for each school
        <%- for school in schools -%>
        $('#school_<%= school.id %> td:nth-child(2)').addMapLink('<%= "<h3>#{h school.name}</h3><p>#{school.full_address.collect{|a| h(a)}.join('<br />')}<br />#{h school.phone}</p>#{school.url? ? content_tag(:p, link_to(h(school.url), school.url)) : nil}" %>', <%= number_with_precision(school.latitude, 6) %>, <%= number_with_precision(school.longitude, 6) %>);
        <%- end -%>
        
        // Remove the "show" links since we don't need them
        $('tbody tr td:first-child').each(function() {
          the_text = $(this).find('a').html();
          $(this).html(the_text);
        });
      <%- else -%>
        // Embed the map
        $('#map').empty().height('500px').css('margin-bottom','1.5em').jmap('init', { mapCenter: [<%=h schools.first.latitude %>, <%=h schools.first.longitude %>], mapZoom: 15, mapControlSize: 'large', mapShowjMapIcon: false});
        
        // Put the school on the map
        $('#map').jmap('addMarker', {pointLatLng:[<%=h schools.first.latitude %>, <%=h schools.first.longitude %>], pointHTML: '<h3><%=h schools.first.name %></h3><p><%=schools.first.full_address.collect{|a| h(a)}.join('<br />') %><br /><%=h schools.first.phone %></p><%= schools.first.url? ? content_tag(:p, link_to(h(schools.first.url), schools.first.url)) : nil %>'});
      <%- end -%>
    });
  </script>
<%- end -%>

<div id="map"><p>Your browser has JavaScript turned off.  If you turn JavaScript back on and refresh the page, you will see a dynamic map of the Oregon Montessori Association's member schools.</p></div>
