<%- form_tag request.path, :method => :get, :class => 'member_search' do %>
<h4>Search criteria</h4>
  <%- if logged_in? && @current_user.has_role?(:secretary) -%>
  <ul>
    <%- for scope in School.exclusive_scopes -%>
      <li><%= radio_button_tag "scopes[]", scope, @current_scopes.include?(scope) %> <%= scope.to_s.humanize.capitalize %></li>
    <%- end -%>
  </ul>
  <ul>
    <%- for scope in School.public_scopes - School.exclusive_scopes -%>
      <li><%= check_box_tag "scopes[]", scope, @current_scopes.include?(scope) %> <%= scope.to_s.humanize.capitalize %></li>
    <%- end -%>
  </ul>
  <%- end -%>
  <p><%= text_field_tag :search, @search_params, :size => 20, :maxlength => 20 %></p>
  <p><%= submit_tag 'Search', :name => nil %></p>
<%- end -%>

<%- if @schools.blank? -%>
<p>Sorry! No member schools were found matching your criteria.</p>
<%- else -%>
<%= render :partial => "school_map", :locals => {:schools => @schools} %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <%= content_tag(:th, 'Actions', :colspan => 2) if @current_user && @current_user.can_update_school? %>
    </tr>
  </thead>

  <tbody>
  <% for school in @schools %>
    <tr class="<%= cycle('odd', 'even') %>" id="school_<%=h school.id %>">
      <td><%=link_to h(school.name), school %></td>
      <td><%=h school.address %><%= ', ' + h(school.address2) if school.address2 %></td>
      <td><%=h school.city %></td>
      <td><%=h school.state %></td>
      <%= content_tag(:td, link_to('Edit', edit_school_path(school))) if @current_user && @current_user.can_update_school? %>
      <%= content_tag(:td, link_to('Destroy', school, :confirm => 'Are you sure?', :method => :delete)) if @current_user && @current_user.can_delete_school? %>
    </tr>
  <% end %>
  </tbody>
</table>
<%- end -%>

<p><%= link_to('New school', new_school_path) if @current_user && @current_user.can_create_school? %></p>