<h3>Interested in an individual membership?</h3>

<p>Please fill out the <%= link_to 'individual membership application', new_school_url, :title => 'Apply for a personal membership' %> if you're interested in a personal membership.</p>

<% uni_form_for(@school) do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => "form", :locals => {:f => f} %>

  <p><%= f.submit "Create" %></p>
<% end %>

<p><%= link_to 'Back', schools_path %></p>