<p><%= link_to 'New post', new_post_path %></p>

<%- [@drafts, @posts].each_with_index do |posts, index| -%>
  <%- reset_cycle -%>
  <h2><%= index == 0 ? 'Drafts' : 'Published posts' %></h2>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Categories</th>
        <th colspan="2">Actions</th>
      </tr>
    </thead>

    <tbody>
  <% for post in posts %>
      <tr class="<%= cycle 'odd', 'even' %>">
        <td><%= format_date(post.published_at || post.created_at) %></td>
        <td><%= link_to h(post.title), post_url(post) %></td>
        <td><%= post.categories_list.collect{|c| h(c) }.join(', ').capitalize %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post_path(post), :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
    </tbody>
  </table>
<%- end -%>

<p><%= link_to 'New post', new_post_path %></p>