<%= render :partial => 'layouts/head' %>

  <h1><%=h @meta[:title] %></h1>

  <%= render :partial => 'shared/flash' %>

  <div class="primary_content">
  <%= yield %>
  </div> <!-- /primary_content -->

  <div class="secondary_content">
    <%= yield :secondary_content %>
  </div> <!-- /secondary_content -->
  
<%= render :partial => "layouts/tail" %>