<%= render :partial => 'layouts/head' %>

  <%= render :partial =>'shared/flash' %>

  <div class="primary_content">
    <%= content_tag(:h1, controller.action_name == 'category' ? h(@meta[:title]) : 'Blogfolio') %>
    <%= yield %>
  </div> <!-- /primary_content -->

  <div class="secondary_content">
    <%= render :partial => 'shared/flash', :locals => {:flash => flash} %>
    
    <h3>About the author</h3>
    <p>Brent Miller is the owner and principal web designer of <a href="http://foliosus.com/" title="Home page">Foliosus Web Design LLC</a> in Portland, Oregon. He enjoys food, plants, and the color green. Read the &#8220;about&#8221; page for more about him. If you are interested in hiring him for web work, please contact him.</p>
    
    <h3>Categories</h3>
    <%= render :partial => "blog/categories" %>
    
    <%- if @plant_photo -%>
    <h3>Plant of the moment</h3>
    <a href="<%= flickr_url(@plant_photo) %>" title="<%=h @plant_photo.title %>" class="plant_of_the_moment"><img src="<%= flickr_image_url(@plant_photo, :medium) %>" alt="<%= @plant_photo.title %>" /></a>
    <p><%=h @plant_photo.title %></p>
    <%- end -%>
    
    <h3>Fresh photos</h3>
    <%= render :partial => "shared/photos" %>
    
    <%= yield :secondary_content %>
  </div> <!-- /secondary_content -->
  
<%= render :partial => 'layouts/tail'%>